
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --home-theme-color: #0af;
    --projects-theme-color: red;
    --contact-theme-color: green;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

a:visited {
    color: currentColor;
}

h1 {
    margin: 0;
}

#app {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    position: relative;
    box-sizing: border-box;
}

section {
    padding-top: 3rem;
    padding-left: 2rem;
}