<nav class="navigation">
    <div class="title-wrapper">
        <h1 class="title-copy"><span>J</span>uan <span>B</span>eldi</h1>
    </div>
    <ul class="navigation-list">
        <li><a class="navigation-link home"  href="javascript:void(0);" route="home">Home</a></li>
        <li><a class="navigation-link projects" href="javascript:void(0);" route="projects">Projects</a></li>
        <li><a class="navigation-link contact" href="javascript:void(0);" route="contact">Contact</a></li>
    </ul>
</nav>