.title-copy {
    margin-top: 0;
    margin-bottom: 2rem;
    position: relative;
}

.title-copy > span{
    position: relative;
}

.title-copy > span::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 0.4rem;
    bottom: 0%;
    background-color: var(--theme-color);
    z-index: -1;
    opacity: 0.5;
    transition: background-color 0.7s ease-in-out;
}

.navigation {
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 3rem;
    box-sizing: border-box;
}

.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-list > li:not(:last-child) {
    margin-bottom: 1rem;
}