<nav class="navigation">
    <div class="title-wrapper">
        <h1 class="title-copy"><span>J</span>uan <span>B</span>eldi</h1>
    </div>
    <ul class="navigation-list">
        <app-component component="navigationLink" data-copy="Home" data-route="home"></app-component>
        <app-component component="navigationLink" data-copy="Projects" data-route="projects"></app-component>
        <app-component component="navigationLink" data-copy="Contact" data-route="contact"></app-component>
    </ul>
</nav>